.map-res {
  /*  background-color: white; */
  /*  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  width: 100%;
  height: 600px !important;
}

.map {
  width: 100%;
  height: 400px;
}
/*
.ol-overviewmap .ol-overviewmap-map {
  border: 1px solid #7b98bc;
  height: 150px;
  margin: 0px;
  width: 150px;
  display: inline;
}

.ol-overviewmap .ol-overviewmap-map, .ol-overviewmap button {}
*/
.search-map {
  margin-bottom: 16px !important;
}

.bottom-map-panel {
  margin-top: 5px !important;
}

.ol-mouse-position {
  margin-right: 36px;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  bottom: 12px;
  left: -50px;
  min-width: 280px;
  max-width: 350px;
  overflow: scroll;
}

.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 2px;
  right: 8px;
}

.ol-popup-closer:after {
  content: "✖";
  position:  fixed;
}
/*
.popup-content {
  overflow: scroll;
}
*/
.ol-scale-line {
  margin-left: 36px;
}

.ol-overviewmap-map {
  margin-bottom: 24px !important;
}
.layer-switcher.shown {
  max-height: 250px;
}

.bokeh-map-ts-plot {
  margin: 16px;
  display: none;
}

.map-ts-header {
  display: none;
}

.popup-selected-product {
  display: none;
}
/*
.map-res .ol-viewport {
  height: 800px !important;
  width: 100%;
}
*/
#map-res-popup {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 200px;
  background: white;
  overflow: auto;
}

.map-res-thumb-pop {
  left: 1em !important;
  bottom: 2em !important;
  top: unset !important;
  transform: unset !important;
}

.map-res-table table {
  border: none !important;
  vertical-align: middle;
}

.map-res-table td {
  font-size: 14px;
  vertical-align: middle;
  padding: 5px;
}

.map-res-table td:first-child {
  text-align: center;
}

.map-res-table-top tbody {
  border: unset;
}

.map-res-table-top td {
  font-size: 14px;
  vertical-align: middle;
  padding: 5px;
  border: unset !important;
  line-height: 1.5;
}

.map-res-exp-buttons {
  font-size: 14px;
  border: unset !important;
}

.map-res-exp-buttons td {
  font-size: 14px;
  vertical-align: bottom;
}

.map-res-elements tr td {
  font-size: 12px;
  vertical-align: middle;
  border: none;
  min-width: 20%;
}

.map-res-button {
  background-color: #fafafa;
  color: #333;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 14px;
}

.map-res-thumb {
  border: 0.1em solid black;
  margin: 0.3em;
}

#tlphov-map-res {
  font-size: small;
  padding: 0.2em;
  background: white;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  overflow-wrap: anywhere;
}

#tlp-map-res {
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 14px;
  width: 100%;
}

#popup-map-res {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 23em;
  height: 23em;
  background: white;
  overflow: auto;
}

#popup-map-res-content {
  font-weight: bold;
  font-size: 12px;
  overflow-wrap: anywhere;
}

.map-res-panel {
  margin-bottom: 0em;
}

#messagequery {
  background-color: white;
  padding: 1em;
  overflow: hidden;
  display: none;
}

.simple-pagination {
  display: flex;
  justify-content: center;
}

.ts-plot-loader {
  display: block;
  margin: auto;
}

/* Updats for new map js script */
.proj-label {
  display: inline-block;
  padding-left: 0px;
  padding-right: 5px;
  text-align: left;
}

.proj-wrapper {
  display: inline-block;
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.basemap-label {
  display: inline-block;
  padding-left: 0px;
  padding-right: 5px;
  text-align: left;
}

.basemap-wrapper {
  display: inline-block;
  padding-left: 0px;
  margin-top: 16px;
  margin-bottom: 5px;
}

.buttons-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

.addl {
  list-style-type: none;
}

button#vizAllButton {
  display: none;
}
